.cont {
  margin: 50px 150px;
}
@media (max-width: 1200px) {
  .cont .list {
    flex-direction: column;
  }
}
.cont .list {
  background-color: #e3c82b;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cont .list .li_class {
  list-style: none;
  background-color: #578d57;
  padding: 10px;
  color: #fff;
  padding: 10px 30px;
  font-size: 30px;
}
.cont .list .li_class:hover {
  color: #c4c4c4;
  text-decoration: underline;
}
